body {
  background-color: #8A8D92;
  width: auto;
  height: 95vh;
  display: flex;
  justify-content:  center;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  width: 100%;
  height: 100%;
  flex: 1 0 auto;
  // border: 1px solid red;
}

h1 {
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  color: #DFE8F9;
  font-style: italic;
  font-weight: 400;
  margin: 0px;
}

.form {
  animation: fadeInAnimation ease 6s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4A495C;
  label {
    // border: red 1px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  input[type=text] {
    outline: none;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    color: #6B6D72;
    background-color: #DFE8F9;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
  }

  span, button {
    margin: 10px;
    color: #4A495C;
  }
  button {
    font-family: 'Jost', sans-serif;
    border-radius: 4px;
    padding: 5px 10px;
    color: #DFE8F9;
    background-color: #4A495C;
    transition: background-color 0.5s ease;
  }

  button:hover {
    color: #4A495C;
    background-color: #DFE8F9;
  }

}

.errors {
  font-size: 12px;
}


.hidden {
  display: none;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
  } 

