button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}